@import '~antd/dist/antd.css';
@import 'Register.css';
@import 'Main.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 60px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  float: left;
  padding-top: 16px;
  color: #61dafb;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
